---
import '../styles/theme.css';

import MultiplicadorMatrices from '../components/multiplicador_matrices.jsx';
---

<html>
  <head>
    <title>Multiplicador de Matrices con Astro</title>
  </head>
  <body>
    <MultiplicadorMatrices client:load />
  </body>
</html>
